<section id="about">
    <div class="data-wrapper">
        <div class="face-lockup">
            <div class="face-img"></div>
        </div>
        <div class="about-me">
            <p><strong>Konstantin is interested in developing</strong><br/>web applications on Java.<br/>
                Java has strong support for web development and is frequently used at the server side.<br/>
                A Java web application is a collection of dynamic resources
                (such as Servlets, JavaServer Pages, Java classes and jars)
                and static resources (HTML pages and pictures).<br/>
                A Java web application can be deployed as a WAR (Web ARchive) file.
                A WAR file is a zip file which contains the complete content of the corresponding web application</p>
        </div>
    </div>
</section>