<section id="contacts" class="contact-section">
    <div class="contact-wrapper">
        <h1 class="section-header">Contact</h1>
        <div class="social-links">
            <div>
                <a href="#">
                    <i class="fa fa-facebook fa-3x"></i>
                </a>
                <a href="#">
                    <i class="fa fa-github fa-3x"></i>
                </a>
                <a href="#">
                    <i class="fa fa-linkedin fa-3x"></i>
                </a>
                <a href="#">
                    <i class="fa fa-stack-overflow fa-3x"></i>
                </a>
                <a href="#">
                    <i class="fa fa-vk fa-3x"></i>
                </a>
                <a href="#">
                    <i class="fa fa-instagram fa-3x"></i>
                </a>
            </div>
        </div>
        <div class="email"></div>
    </div>
</section>