<section id="work">
    <div class="work">
        <div class="items">
            <div class="item-java"></div>
            <div class="item-spring"></div>
            <div class="item-hibernate"></div>
            <div class="item-sql"></div>
            <div class="item-no-sql"></div>
            <div class="item-jboss"></div>
            <div class="item-tomcat"></div>
            <div class="item-js"></div>
            <div class="item-jquery"></div>
            <div class="item-bootstrap"></div>
            <div class="item-backbone"></div>
            <div class="item-html"></div>
            <div class="item-css"></div>
            <div class="item-less"></div>
            <div class="item-sass"></div>
            <div class="item-npm"></div>
            <div class="item-grunt"></div>
            <div class="item-gulp"></div>
            <div class="item-node"></div>
        </div>
    </div>
</section>