.contact-section
  height: 250px

  .contact-wrapper
    background: rgba(214, 214, 214, 0.05)

.social-links
  text-align: center
  margin: auto

.email
  margin: auto
  text-align: center
  padding-top: 35px

.social-links a, .email a
  padding-right: 35px
  color: rgba(51, 51, 51, 0.8)
  text-decoration: none